@model List<AppUILayer.Model.BlogInfoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="userTypeDetailsContainer">
    @*PartialView content will be loaded here*@
</div>
<br/>
<ul>
    @foreach (var item in Model)
    {
        <div>
        <li>@item.Title - By @item.EmpEmailId</li>
        <li>Date: @item.DateOfCreation</li>
        <li>Subject: @item.Subject</li>
        <li>@item.BlogUrl</li>
        <hr />
        </div>
    }
</ul>
